/*
 * Ajax.html
 * Dynamic web page content, courtesy of Zeus' grandson
 *
 * Jonatan H Sundqvist
 * December 6 2014
 *
 * TODO | - 
 *        -
 *	
 * SPEC | - 
 *        -
 *
*/

.notelink {
	color: blue;
}

.notelink:visited {
	color: rgb(255, 0, 230);
}

.notelink:active {
	color: rgb(255, 0, 20);
}

.note {

}

.highlight {
	background-color: orange;
	-webkit-transition: background-color 1s; 
}


#scratchboard {
	border: 4px dashed purple;
	min-height: 20px;
	min-width: 80%;
	padding: 1%;
	color: lightgrey;
}